.Hero {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    background: black;
    

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgb(250, 250, 250, 0), rgba(0, 0, 0, 1) 100%);
        pointer-events: none; 
        z-index: 5;
    }
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    user-select: none; 
    -webkit-user-drag: none;
    pointer-events: none; 
}

.active {
    opacity: 1;
    
}

.controlsWrapper {
  position: absolute;
  bottom: 100px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px; 
  gap: 40px; 
  z-index: 10;
}

.ButtonSlideShow {
  border: 2px solid #fff;
  padding: 35px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}



.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;

  &__item {
    display: inline-block;
    margin: 0 10px;
  }

  &__link {
    position: relative;
    text-indent: -99em;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid white;
      transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:before {
      background: white;
      transform: scale(0.2);
    }

    &:hover {
      &:after {
        transform: scale(1.1);
      }
    }

    &.is_active {
      &:before {
        transform: scale(0.5);
      }
      &:after {
        transform: scale(0.2);
      }
    }
  }
}
