.stalkerCursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url('/image/icon/cursor/defaultCursorSlaker.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}


.button {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url('/image/icon/cursor/buttonCursorStalker.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.text {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url('/image/icon/cursor/inputCursorStaler.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.link {
     position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url('/image/icon/cursor/buttonCursorStalker.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
