@import url("./BurgerMenu.module.css");

.burgerContent {
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(18rem, 90vw, 50rem);
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.burgerContent.active {
  transform: translateX(0);
}

.BurgerNumber {
  list-style: none;
  counter-reset: item;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(1rem, 4vw, 2rem);
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-family: var(--font-main);
}

.BurgerNumber li {
  counter-increment: item;
  display: flex;
  align-items: start;
  gap: 1rem;
}

.BurgerNumber li::before {
  content: counter(item, decimal-leading-zero);
  margin-right: 10px;
  font-weight: bold;
  color: var(--primary-color);
}

.BurgerItem {
  width: clamp(12rem, 60vw, 30.125rem);
  height: clamp(6rem, 20vw, 10.75rem);
  gap: 1rem;
  border-radius: 30px;
  font-size: clamp(1rem, 3vw, 2ren);
  font-family: var(--font-main);
  color: var(--primary-color);
  font-weight: 800;
  letter-spacing: clamp(2px, 1vw, 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.BurgerNumber li:nth-child(1) .BurgerItem {
  position: relative;
  background: url("/burgerMenuImages/Zone.jpg") center / cover no-repeat;
  overflow: hidden;
}

.BurgerNumber li:nth-child(1) .BurgerItem::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.8s ease;
}

.BurgerNumber li:nth-child(1) .BurgerItem:hover::before {
  opacity: 0;
}

.BurgerNumber li:nth-child(2) .BurgerItem {
  position: relative;
  background: url("/burgerMenuImages/History.jpg") center / cover no-repeat;
  overflow: hidden;
}

.BurgerNumber li:nth-child(2) .BurgerItem::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.8s ease;
}

.BurgerNumber li:nth-child(2) .BurgerItem:hover::before {
  opacity: 0;
}

.BurgerNumber li:nth-child(3) .BurgerItem {
  position: relative;
  background: url("/burgerMenuImages/Archive.jpg") center / cover no-repeat;
  overflow: hidden;
}

.BurgerNumber li:nth-child(3) .BurgerItem::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.8s ease;
}

.BurgerNumber li:nth-child(3) .BurgerItem:hover::before {
  opacity: 0;
}
